.category-header {
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 80px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.category-view-button {
    background-color: transparent;
    font-size: 25px;
    color: #1A94FF;
    shape-outside: none;
    border-width: 0px;

    margin-left: auto;
    padding-right: 50px;
    display: flex;
    align-items: end;
    margin-left: 20px;
    text-align: right;
}

.category-view-button:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.category-title {
    color:#27272A;
    text-align: left;
    padding-left: 60px;
    font-size: 35px;
}

.category {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product {
    background-color: rgba(0, 150, 255, 0.03);
    border-radius: 15px;
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 200px;
}
  
.product .product-description {
    text-align: center;
}
  
.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}