.login-google {
    width: 500px;
    height: 150px;
    border-radius: 8px;
    border-color: cornflowerblue;
    border-style: double;
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    font-size: 35px;

    transition: 0.1s ease-in-out;

    background-color: white;
    color: black;
}

.login-google:hover {
    transition: 0.1s ease-in-out;

    background-color: cornflowerblue;
    color: white;
}

.logout {
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border-color: rgb(250, 100, 100);
    border-style: double;
    text-align: center;
    right: 25px;
    bottom: 25px;
    position: absolute;
    transform: translate(-50%, -50%);

    font-size: 19px;

    transition: 0.1s ease-in-out;

    background-color: white;
    color: black;
}

.logout:hover {
    transition: 0.1s ease-in-out;

    background-color: rgb(250, 100, 100);
    color: white;
}